{{ define "base" }}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conjobs - {{.Title}}</title>

    <!-- Agregamos bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <!-- Logo/Brand -->
            <a class="navbar-brand" href="/">
                <img src="/static/img/cronjobs-logo.png" alt="Cronjobs logo" width="160">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            {{ template "nav-menu" . }}

        </div>
    </nav>

    <main class="container-fluid">
        {{ renderPartial .Tmpl . }}
    </main>

    <footer class="footer border-top mt-4">
        <section class="container">
            <div>
                <p>&copy; 2025 Conjobs. Todos los derechos reservados.</p>
            </div>
        </section>
    </footer>
</body>

</html>
{{end}}