{{ define "base" }}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conjobs - {{.Title}}</title>
    <link rel="stylesheet" href="/static/css/milligram.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

    <header class="navbar">
        <a href="/" class="brand">
            <img src="/static/img/cronjobs-logo.png" alt="Cronjobs logo" width="170px">
        </a>
        
        <!-- Botón hamburguesa -->
        <button class="menu-toggle button button-clear" onclick="toggleMenu()">☰</button>

        <nav id="main-menu">
            {{if .User}}
            <a href="/">Home</a>
            <a href="/docs">Docs</a>
            <a href="/dashboard" class="btn btn-accent">Dashboard</a>
            <a href="/logout">Cerrar sesión</a>
            {{else}}
            <a href="/login">Iniciar sesión</a>
            <a href="/register">Registrarse</a>
            {{end}}
        </nav>
    </header>

    <main class="container" id="content">
        {{ renderPartial .Tmpl . }}
    </main>

    <footer class="footer">
        <section class="container">
            <p>&copy; Conjobs. Todos los derechos reservados.</p>
        </section>
    </footer>

    <!-- Scripts -->
    <script src="/static/js/navbar.js"></script>
</body>
</html>
{{end}}