{{define "login"}}
<div class="container d-flex justify-content-center mt-5">
    <div class="card bg-white col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
        <div class="card-body px-4">
            <h4 class="card-title mb-4">Iniciar sesión</h4>

            <!-- Login Form -->
            <form action="/login" method="POST">
                {{if .Error}}
                <div class="alert alert-danger">{{.Error}}</div>
                {{end}}

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>

                <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>

                <button type="submit" class="btn btn-primary w-100 btn-login mt-4">Login</button>

                <div class="text-center mt-3">
                    <a href="/forgot-password" class="text-decoration-none">Recuperar contraseña</a>
                </div>
            </form>

            <hr class="my-4">

            <div class="text-center">
                <p class="text-muted">¿No tienes una cuenta? <a href="/register" class="text-decoration-none">Registrate</a></p>
            </div>
        </div>
    </div>
</div>
{{end}}